.year {
   display: table-cell;
   font-family: Helvetica;
}

.month {
 font-family: Helvetica;
 font-size: 20px;
 width: 100px;
 height: 20px;
 display: table-cell;
 border: 1px solid gray;
 border-radius: 10px;
 text-align: center;
}

.monthHead {
  float: left;
  height: 10px;
}

.dayHead {
  width: 13.2857143%;
  height: 30px;
  float:left;
  font-family: Helvetica;
  font-size: 15px;
}
.day {
  width: 13.2857143%;
  height: 100%;
  float: left;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  font-family: Helvetica;
  font-size: 10px;
}

.weekend {
  background-color: #e6e6e6;
}

.week {
  height: 40px;
  border: 0px solid #d9d9d9;
}

.agenda {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

.kliko {
  background-color: ;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-top: 2px;
}
.datum {
  text-align: center;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  font-family: Helvetica;
  font-size: 10px;
}
.legenda {
  width: 16%;
  height: 100%;
  float: left;
  font-family: Helvetica;
  font-size: 10px;
}

